footer {
	font-size: 17px;
	font-weight: 500;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
	background-color: #EDEFEE;
}
.footer-item {
	color: #040404;
	font-weight: 400;
	text-decoration: inherit;
	font-size: 14px;
}
.footer-item:hover {
    color: #495E58;
    text-decoration: underline;
    transition: 0.25s;
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 6em;
	padding-block: 1em;
	width: 100%;
	height: 10%;
	margin-top: 2rem;
}

.footer-content {
	display: flex;
	gap: 3em;
}

.footer-nav,
.footer-contact,
.footer-social {
	display: flex;
	flex-direction: column;
}

.footer-social-row {
    display: flex;
    flex-direction: row;
    gap: 0.7em;
}
.footer-social-row > a:hover {
    color: #f4ce14;
    transition: 0.25s;
}
.footer-social a{
    color: #495E58;
    gap:10px;
}

.footer-head {
	font-weight: 600;
	margin-bottom: 0.2em;
}
